.todo-container {
    margin-top: 30px;
    width: 600px;
    height: 400px;
    margin: 50px auto;
}

.todo-title {
    font-size: 50px;
    font-weight: bold;
    color: red;
    text-align: center;
    margin-bottom: 30px;
}

.todo-new {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

input[type="text"] {
    width: 200px;
    height: 40px;
    font-size: 20px;
    padding: 5px 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100px;
    height: 50px;
    font-size: 20px;
    margin-left: 10px;
    background-color: rgb(0, 162, 255);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.todo-data {
    border: 1px solid #ccc;
    margin-top: 20px;
    font-size: 24px;
    padding: 20px;
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.todo-image {
    text-align: center;
    margin-top: 20px;
}

.logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
    animation: logo-spin 20s linear infinite;
}

.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.todo-item {
    display: flex;
    justify-content: space-between;
}

.todo-item button {
    background-color: red;
    width: 80px;
    border-radius: 15%;
}